@import 'variables.scss';
.flex {
  display: flex;
}

.vtcenter {
  display: flex;
  align-items: center;
}

.htcenter {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primarybtn {
  color: $bg-white;
  padding: 0.625rem 1.875rem;
  background-color: $primary-color;
  border-radius: 1.875rem;
  font-size: 0.938rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $primary-dark;
  }
}



.nav-link.active {
  color: $primary-color;
}
.hide {
  display: none;
  
}
