* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video,
svg {

    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}


a {

    text-decoration: none;
}

li {
    list-style: none;

}

button {
    border: none;
    cursor: pointer;
}